<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Book No</label>
            <input class="form-control" type="text" formControlName="bookno" required>
          </div>

          <div class="form-group">
            <label>Book Name</label>
            <input class="form-control" type="text" formControlName="bookname" required>
          </div>
  
          <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="text" formControlName="price" required>
          </div>
  
          <div class="form-group">
            <label>Author Name</label>
            <input class="form-control" type="text" formControlName="authorname" required>
          </div>
          <br>
  
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Add Book</button>
          </div>
        </form>
    </div>
  </div>