<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Books List</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Book No</th>
            <th scope="col">Book Name</th>
            <th scope="col">Price</th>
            <th scope="col">Author Name</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Books; let i = index">
            <!-- <th scope="row">{{book._id}}</th> -->
            <td>{{book.bookno}}</td>
            <td>{{book.bookname}}</td>
            <td>{{book.price}}</td>
            <td>{{book.authorname}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/edit-book/{{book._id}}">Edit</button>&nbsp;&nbsp;
              <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>